# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*~
.DS_Store
bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea/
.vscode/

# Other ephemeral files
tmp
node_modules
build/dist
.task
.tmp
.task
.gocache
