<div class="card mb-5">
	<div class="card-header form-inline" style="display: flex; justify-content: space-between">
		<h2>Users</h2>
		<a href="/users/new" class="btn btn-primary form-control">New User</a>
	</div>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th></th>
		</tr>
		{{range .Data}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td><a href="/users/{{.ID}}" class="btn btn-secondary">View</a></td>
			</tr>
		{{else}}
			<tr>
				<td colspan="3">No users found</td>
			</tr>
		{{end}}
	</table>
	</div>
</div>
