<div class="container-fluid">
	{{if .Data.Edit}}
		<h1>Edit User</h1>
	{{else}}
		<h1>Create New User</h1>
	{{end}}

	{{if .Data.Edit}}
		<form method="POST" action="/users/{{.Data.User.ID}}/update">
	{{else}}
		<form method="POST" action="/users">
	{{end}}

		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" class="form-control" type="text" name="name" value="{{.Data.User.Name}}" required="">
		</div>
		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>
</div>
